* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, #bf3333, gold, #bf3333);
    text-align: center;
}

.nav-container {
    background: linear-gradient(90deg, #000, red, #000);
    display: flex;
    justify-content: space-between;
}

.title {
    position: relative;
    top: 16px;
    left: 50px;
    font-variant: small-caps;
    font-size: 25px;
    color: #fff;
}

.nav-link-container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
}

.nav-grouper {
    padding: 20px;
    font-size: 20px;
}
.nav-grouper:hover {
    background-color: #ac940c;
    cursor: pointer;
    transition: 0.8s;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: none;
    color: #fff;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(2, 900px);
}

#setaside-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 270px);
    row-gap: 40px;
}

input {
    font-size: 18px;
    width: 180px;
    padding: 10px 0 10px 5px;
}

.new-setaside {
    height: 60px;
    margin-left: 13px;
    padding: 9px 0 10px 5px;
}

input, .calc-option-btn { border: solid #000 2px; }
.calc-option-btn {
    position: relative;
    right: 4px;
    font-size: 17px;
    padding: 11px 10px 10px 10px;
    border-left: none;
    background: #d9300e;
}

.delete-set-aside {
    background: red;
    padding: 4px 5px 4px 5px;
}

#main-btn-container {
    column-gap: 20px;
    margin-right: 55px;
}

.main-btn {
    margin-top: 70px;
    height: 50px;
    font-size: 15px;
    padding: 5px 70px 5px 70px;
    background: rgb(217, 48, 14);
    transition: 1s;
    overflow-wrap: break-word;
}

.main-btn:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

#results-container {
    background: linear-gradient(90deg, #000, red, #000);
    margin-top: 40px;
    padding: 2% 0 6% 0;
    border-radius: 5px;
    border: solid 10px #ffd90092;
    height: min-content;
    width: 450px;
}

.result-heading {
    font-size: 30px;
    color: #fff;
    padding: 25px 0 25px 0;
}

.calculation-results {
    font-size: 25px;
    transition: 2s;
    margin-top: 20px;
    color: yellow;
}

.log-info {
    position: relative;
    top: 50px;
    
}

#log-container {
    margin-top: 200px;
    background: #ffffff;
    padding: 15px 0 0 0;
    color: black;
    height: 100%;
    border: 10px solid rgb(173, 173, 173);
}

.disabled-collapse {
    padding: 200px;
    opacity: 0;
    display: none;
}

.log-dropDown {
    padding: 40px 0 10px 0;
    height: 125px;
    border-top: solid #000 3px;
    display: grid;
    font-size: 19px;
    grid-template: repeat(1, 50px) / repeat(5, 200px);
    display: flex;
    justify-content: space-around;
    overflow: auto;
}

.delete-log-btn {
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background: #d9300e;
}

.active {
    display: block;
}

.log-collapse-btn {
    display: block;
    width: 100%;
    padding: 20px 0 20px 0;
    font-size: 20px;
}

.log-collapse-btn:hover {
    cursor: pointer;
}

.log-heading { font-size: 30px; }
label { font-size: 20px; display: block; }
#save-option, #bills-option { border-right: none; }
::-webkit-input-placeholder { text-align: end; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; }

footer {
    padding: 20px;
    background: linear-gradient(90deg, #000, red, #000);
}