* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: gold;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: #fff;
    background: linear-gradient(90deg, #000, red, #000);
    padding: 25px 0 25px 0;
}

.main-container {
    margin-top: 70px;
    display: flex;
    display: grid;
    grid-template: repeat(2, 100px) / repeat(3, 400px);
    column-gap: 50px;
    justify-content: center;
}

div {
    margin-top: 15px;
}

label {
    font-size: 21px;
}

input {
    font-size: 30px;
    border-radius: 30px;
    padding: 10px;
}

::-webkit-input-placeholder {
    text-align: end;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.main-option-btn {
    margin-top: 20px;
    font-size: 20px;
    padding: 12px 100px 12px 100px;
    background: rgb(217, 48, 14);
    transition: 1s;
}

.main-option-btn:hover {
    transform: scaleY(1.1);
    transform: scaleX(1.1);
    transform: translateY(-2px);
    cursor: pointer;
}

p {
    font-size: 30px;
    transition: 2s;
    margin-top: 20px;
    color: yellow;
}

.results-container {
    background: linear-gradient(90deg, #000, red, #000);
    margin-top: 40px;
    padding: 2% 0 3% 0;
    
}

.test {
    padding: 4px 7px 3px 7px;
    position: relative;
    left: 130px;
    bottom: 90px;
    background: rgb(217, 48, 14);
}

.btn {
    padding: 4px 10px 3px 10px;
    margin-left: 3px;
}

.enableBtn {
    background: rgb(217, 48, 14);
}
.disableBtn {
    background: rgba(202, 45, 14, 0.465);
}